@import 'reset.scss', 'utilities.scss';

/* ----------------------- */
/* Custom properties       */
/* ----------------------- */
:root {
	/* colors */
	--clr-accent: hsl(205 100% 52%);
	--clr-dark: hsl(233 18% 10%);
	--clr-light: hsl(0 0% 96%);
	--clr-white: hsl(0 0% 100%);

	/* font-sizes */
	--fs-900: 4rem;
	--fs-700: 2rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;

	/* font-families */
	--ff-accent: 'Oswald', sans-serif;
	--ff-default: 'Roboto', sans-serif;
}

.primary-header {
	background-color: var(--clr-light);
	padding: var(--spacing, 2rem);
	justify-content: space-between;
	align-items: center;

	div {
		align-items: center;
		--gap: 0.75rem;
		font-weight: 500;

		p {
			margin-top: 0.5em;
		}
	}

	.avatar {
		height: 3.5rem;
	}

	.mobile-nav-toggle {
		width: 1.5rem;
		height: 1.5rem;
		border: none;
		background-image: url('../images/btn-hamburger.svg');
		background-repeat: no-repeat;
	}
}
