@import 'reset.scss', 'utilities.scss';

/* ----------------------- */
/* Custom properties       */
/* ----------------------- */
:root {
	/* colors */
	--clr-accent: hsl(205 100% 52%);
	--clr-dark: hsl(233 18% 10%);
	--clr-light: hsl(0 0% 96%);
	--clr-white: hsl(0 0% 100%);

	/* font-sizes */
	--fs-900: 4rem;
	--fs-700: 2rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;

	/* font-families */
	--ff-accent: 'Oswald', sans-serif;
	--ff-default: 'Roboto', sans-serif;

	/* Gradients */
	--light-gradient: linear-gradient(180deg, var(--clr-light) 0%, var(--clr-white) 100%);
	--dark-gradient: linear-gradient(90deg, var(--clr-dark) 0%, var(--clr-dark) 30%, var(--clr-dark) 70%, var(--clr-dark) 100%);
}

/* ----------------------- */
/* Header Section          */
/* ----------------------- */
.primary-header {
	padding: 2rem;
	justify-content: space-between;
	align-items: center;

	div {
		align-items: center;
		--gap: 0.75rem;
		font-weight: 500;

		p {
			margin-top: 0.5em;
		}
	}

	.avatar {
		height: 3.5rem;
	}

	.mobile-nav-toggle {
		display: none;
	}

	.primary-navigation {
		list-style: none;
		margin: 0;
		padding: 0;
		--gap: 2rem;

		a {
			color: var(--clr-dark);
		}
	}
}

@media (max-width: 45rem) {
	.primary-header {
		.mobile-nav-toggle {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			border: none;
			background-image: url('../images/btn-hamburger.svg');
			background-repeat: no-repeat;
		}

		.mobile-nav-toggle[aria-expanded='true'] {
			background-image: url('../images/btn-close.svg');
		}

		nav {
			position: absolute;
			top: 7.5rem;
			left: 0;
			width: 100%;
			height: 0;
			overflow-y: hidden;
			background-color: var(--clr-light);
			transition: height 250ms ease-in;
			z-index: 999;
		}

		nav[data-visible='true'] {
			height: calc(100vh - 7.5rem);
		}

		.primary-navigation {
			flex-direction: column;
			align-items: end;
			padding-inline: 4em;

			a:hover {
				text-decoration: none;
			}
		}
	}
}

/* ----------------------- */
/* Presentation Section    */
/* ----------------------- */
.presentation {
	flex-direction: column;
	align-items: center;
	padding: 4em;
	--gap: 3rem;

	h1 {
		font-size: clamp(2rem, 4vw, 3rem);
	}

	img {
		width: 100%;
		max-width: 20rem;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	.welcome-text {
		max-width: 25ch;
		font-size: clamp(1.3rem, 4vw, 2.2rem);
	}
}

/* ----------------------- */
/* About me Section        */
/* ----------------------- */
.about-me {
	padding: 4rem;
	flex-direction: column;
	align-items: center;
}
